# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# VSCode
.vscode/

# Environment
venv/
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Build
build/
dist/

# Logs
*.log

# Django static/media
staticfiles/
media/
